{% extends 'index.html' %}
{% block body %}

<h1>Hello,</h1>

<h2> Welcome to my Webpage - I'm George and I'm a big fan of JDM cars.</h2>
<h3>So i made a webpage to share my experience and information with you! In the NavBar you can see 4 JDM car tabs, there will be a lot more in the future so keep updated</h3>
<h4>Subscribe for information: </h4>



<form action="subscribe" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">First Name</label>
      <input type="text" name="name" class="form-control" id="inputEmail4" placeholder="First Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Second Name</label>
      <input type="text" name="secondname" class="form-control" id="inputPassword4" placeholder="Second Name">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email Address</label>
          <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Email Address" style="width: 500px;">

        </div>
  </div>
  </div>
  <button type="submit" class="btn btn-primary">SUBSCRIBE</button>
</form>


{% endblock %}