{% extends "index.html" %}
{% block body %}

<h1>Mitsubishi</h1>

<p>
    The Mitsubishi Group (三菱グループ, Mitsubishi Gurūpu, informally known as the Mitsubishi Keiretsu) is a group of autonomous Japanese multinational companies in a variety of industries.

Founded by Iwasaki Yatarō in 1870, the Mitsubishi Group historically descended from the Mitsubishi zaibatsu, a unified company which existed from 1870 to 1946. The company was disbanded during the occupation of Japan following World War II. The former constituents of the company continue to share the Mitsubishi brand and trademark. Although the group companies participate in limited business cooperation, most famously through monthly "Friday Conference" executive meetings, they are formally independent and are not under common control. The four main companies in the group are MUFG Bank (the largest bank in Japan), Mitsubishi Corporation (a general trading company), Mitsubishi Electric and Mitsubishi Heavy Industries (both being diversified manufacturing companies).
</p>
<h2>Legendary Mitsubishi cars: </h2>
<img src="https://cdn.motor1.com/images/mgl/6EEZG/s1/2015-6098442015-mitsubishi-lancer-evolution-final-edition1.jpg" style="width: 900px; height: 700px;" >
<img src="https://www.goodwood.com/globalassets/.road--racing/road/news/2020/8-august/best-mitsubishis/seven-best-mitsubishis-ever-made-6-mitsubishi-evo-vii-tommi-makinen-goodwood-31072020.jpg?crop=(0,135,2600,1598)&width=1600" alt="" style="width: 900px; height: 700px;">

{% endblock %}