{% extends "index.html" %}
{% block body %}

<h1>Nissan</h1>

<p>The Nissan Motor Company, Ltd. (Japanese: 日産自動車株式会社, Hepburn: Nissan Jidōsha kabushiki gaisha) (trading as the Nissan Motor Corporation and often shortened to Nissan)[a] is a Japanese multinational automobile manufacturer headquartered in Nishi-ku, Yokohama, Japan. The company sells its vehicles under the Nissan, Infiniti, and Datsun brands (with in-house performance tuning products labelled Nismo). The company traces its name to the Nissan zaibatsu, now called Nissan Group.

    Since 1999, Nissan has been part of the Renault–Nissan–Mitsubishi Alliance (Mitsubishi joining in 2016), a partnership between Nissan and Mitsubishi Motors of Japan, with Renault of France. As of 2013, Renault holds a 43.4% voting stake in Nissan, while Nissan holds a 15% non-voting stake in Renault. Since October 2016 Nissan has held a 34% controlling stake in Mitsubishi Motors.
    
    In 2013, Nissan was the sixth largest automaker in the world, after Toyota, General Motors, Volkswagen Group, Hyundai Motor Group, and Ford.[10] Taken together, the Renault–Nissan Alliance was the world's fourth largest automaker.[citation needed] Nissan is the leading Japanese brand in China, Russia and Mexico.
    
    In 2014, Nissan was the largest car manufacturer in North America. </p>

<h2>Legendary Nissan cars:</h2>

<img src="https://toprankglobal.jp/picture/vehicle/22672_994.jpg" alt="" style="width: 900px; height: 700px; display: inline-block;" >
<img src="https://i.ytimg.com/vi/MZQz4mf2Q8g/maxresdefault.jpg" alt="" style="width: 900px; height: 700px;">

{% endblock %}